.title {
    font-weight: 500;
    font-size: 40px;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 27px;
    }
}


.pieChart, .colChart {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30rem;
}

.pieChart {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
    /* width: 50%; */
}

.colChart {
    /* flex-grow: 2; */
    /* max-width: max-content; */
    /* width: 50%; */
}

.jumbotron {
    padding: 0px;
    padding-top: 6rem;
}

.cases {
    font-family: Lato;
}

.selectCase {
    padding-top: 1rem;
    padding-left: 2rem;
}

.selectCase1 {
    padding-bottom: 0.4rem;
}

.row {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.pieChart-container, .colChart-container {
    width: 40%;
}

@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }

    /* .pieChart, .colChart {
        width: 100%;
    } */
}