<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui large text loader">Loading</div>
</div>

<div class="jumbotron bg-white text-center">
    <span class="title">Covid-19 Tracker Country Wise</span>
    <hr class="my-4">
    
    <div class="mx-auto">
        <div class="form-group mx-auto col-lg-3">
            <label for="selectCountry">Select Country</label>
            <select name="" id="selectCountry" class="form-control" #input (change)="updateValue(input.value)"
            [(ngModel)]="defaultCountry">
                <option value="{{ c }}" *ngFor="let c of countries">{{ c }}</option>
            </select>
            <small id="helpId" class="text-muted">Help text</small>
        </div>
    </div>
    
    <app-dashboard-card
    [totalConfirmed]="totalConfirmed"
    [totalDeaths]="totalDeaths"
    [totalRecovered]="totalRecovered"
    [totalActive]="totalActive">
</app-dashboard-card>

<hr class="my-4">

<div class="row">
    <div class="scrollthis">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let row of selectedCountryData; index as i'>
                    <td data-label="No">{{ i+1 }}</td>
                    <td data-label="Date">{{ row.date | date }}</td>
                    <td data-label="Cases">{{ row.cases }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="chart-container">
        <div id="chart" class="lineChart">
            <apx-chart
            [series]="lineChart.series"
            [chart]="lineChart.chart"
            [xaxis]="lineChart.xaxis"
            [dataLabels]="lineChart.dataLabels"
            [grid]="lineChart.grid"
            [stroke]="lineChart.stroke"
            [title]="lineChart.title"
            ></apx-chart>
        </div>
    </div>
</div>

</div>

