<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="title">
                Confirmed
            </div>
            <hr>
            <div class="number">
                {{ totalConfirmed | number }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="title">
                Recovered
            </div>
            <hr>
            <div class="number">
                {{ totalRecovered | number }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="title">
                Deaths
            </div>
            <hr>
            <div class="number">
                {{ totalDeaths | number }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="title">
                Active
            </div>
            <hr>
            <div class="number">
                {{ totalActive | number }}
            </div>
        </div>
    </div>
</div>
